* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fcfcfc;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

header {
  padding: 2rem 1rem 0;
  margin: 0 auto;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  header {
    padding: 4rem 2rem 0;
    max-width: 800px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  header {
    padding: 4rem 7rem 0;
    max-width: 1024px;
  }
}

@media (min-width: 1440px) {
  header {
    max-width: 1440px;
  }
}

header .title {
  text-align: center;
}

@media (min-width: 768px) {
  header .title {
    text-align: left;
  }
}

header #search {
  margin-top: 2rem;
  width: 50%;
  padding: 0.5rem 1rem;
}

@media (min-width: 768px) {
  header #search {
    width: 30%;
    margin: 0;
  }
}

@media (min-width: 1440px) {
  header #search {
    width: 25%;
  }
}

.container {
  padding: 2rem 1rem;
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    padding: 2rem 2rem 5rem;
    max-width: 800px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 2rem 7rem 5rem;
    max-width: 1024px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

#employee-container {
  display: -ms-grid;
  display: grid;
  margin-top: 4rem;
  row-gap: 2rem;
}

@media (min-width: 768px) {
  #employee-container {
    -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 3rem;
    width: 100%;
  }
}

@media (min-width: 1440px) {
  #employee-container {
    -ms-grid-columns: (minmax(0, 1fr))[3];
        grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

#employee-container .employee {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  cursor: pointer;
}

#employee-container .employee:hover {
  opacity: 0.6;
}

#employee-container .employee .avatar {
  border-radius: 50%;
  width: 100px;
  display: block;
  margin: 1rem;
}

@media (min-width: 768px) {
  #employee-container .employee .avatar {
    width: 110px;
  }
}

@media (min-width: 1024px) {
  #employee-container .employee .avatar {
    width: 120px;
  }
}

#employee-container .employee .text-container {
  padding-left: 1rem;
  overflow: auto;
}

#employee-container .employee .text-container .name {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

#employee-container .employee .text-container .email,
#employee-container .employee .text-container .address {
  color: #777;
  font-size: 1.4rem;
}

#employee-container .employee .text-container .email {
  padding-bottom: 0.5rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(100, 100, 100, 0.4);
}

.overlay .modal {
  width: 375px;
  margin: 15% auto auto;
  position: relative;
  text-align: center;
  background: #fff;
  border: 1px solid #778;
  border-radius: 5px;
  padding: 3rem 2rem;
}

@media (min-width: 1024px) {
  .overlay .modal {
    margin: 10% auto auto;
  }
}

.overlay .modal .modal-close {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
  background: #fff;
  border: none;
  font-size: 2rem;
}

.overlay .modal .modal-content .avatar {
  border-radius: 50%;
  width: 200px;
  padding: 1rem;
}

.overlay .modal .modal-content .text-container {
  padding-left: 1rem;
}

.overlay .modal .modal-content .text-container .name {
  font-size: 2rem;
}

.overlay .modal .modal-content .text-container .email,
.overlay .modal .modal-content .text-container .address,
.overlay .modal .modal-content .text-container .phone,
.overlay .modal .modal-content .text-container .birthday,
.overlay .modal .modal-content .text-container .city {
  color: #777;
  font-size: 1.4rem;
}

.overlay .modal .modal-content .text-container .name,
.overlay .modal .modal-content .text-container .email,
.overlay .modal .modal-content .text-container .phone,
.overlay .modal .modal-content .text-container .address,
.overlay .modal .modal-content .text-container .birthday {
  padding-bottom: 1.5rem;
}

.overlay .modal .modal-content .text-container hr {
  margin: 3rem 0;
}

.hidden {
  display: none;
}
