@import 'config';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fcfcfc;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.container {
  padding: 2rem 1rem;
  @include tablet {
    padding: 2rem;
  }
}

.title {
  text-align: center;
}

#employee-container {
  display: grid;
  grid-template-columns: 100%;
  margin-top: 4rem;
  row-gap: 2rem;
  @include tablet {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 3rem;
    width: 100%;
  }

  .employee {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 1rem;

    .avatar {
      border-radius: 50%;
      width: 100px;
      display: block;
      padding: 1rem;
      @include tablet {
        width: 110px;
      }
    }
    .text-container {
      padding-left: 1rem;
      overflow: auto;

      .name {
        font-size: 2rem;
        padding-bottom: 0.5rem;
        @include tablet {
          font-size: 2.3rem;
        }
      }
      .email,
      .address {
        color: #9ba0a3;
        font-size: 1.4rem;
        @include tablet {
          font-size: 1.5rem;
        }
      }
      .email {
        padding-bottom: 0.5rem;
      }
    }
  }
}

// Modal
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(100, 100, 100, 0.4);

  .modal {
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 3rem 2rem;
    @include tablet {
      width: 475px;
    }

    .modal-close {
      position: absolute;
      right: 15px;
      top: 5px;
      cursor: pointer;
      background: #fff;
      border: none;
      @include tablet {
        font-size: 2.5rem;
      }
    }
    .modal-content {
      @include tablet {
        padding: 2rem;
      }
      .avatar {
        border-radius: 50%;
        width: 200px;
        padding: 1rem;
        @include tablet {
          width: 250px;
        }
      }
      .text-container {
        padding-left: 1rem;

        .name {
          font-size: 2.5rem;
          padding-bottom: 0.5rem;
          @include tablet {
            font-size: 3rem;
            padding-bottom: 1rem;
          }
        }
        .email,
        .address,
        .phone,
        .birthday,
        .city {
          color: #9ba0a3;
          font-size: 1.8rem;
          @include tablet {
            font-size: 2rem;
          }
        }
        .email,
        .phone,
        .address,
        .birthday {
          padding-bottom: 0.5rem;
          @include tablet {
            padding-bottom: 1.5rem;
          }
        }
        hr {
          margin: 3rem 0;
        }
      }
    }
  }
}

.hidden {
  display: none;
}
